* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #fbfbfb;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    font-family: verdana, helvetica, sans-serif, arial;
}
header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    justify-content: space-between;
    background-image: linear-gradient(to right, #880201, #cc0605, #880201);
    /* to right,
        rgb(194, 103, 0),
        #fb8604,
        rgb(194, 103, 0) */
}
.landing {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-between;
    background-image: linear-gradient(to right, #880201, #cc0605, #880201);
}
header * {
    color: white;
}
div.logo {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-image: url("../IMG/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
h1 {
    text-align: center;
    font-weight: normal;
}
div.current-menu {
    display: grid;
    grid-template-rows: 50% 50%;
    margin: 0.5% 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav > a {
    background-color: white;
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto 1%;
    display: table;
    text-decoration: none;
    background-color: transparent;
    /* background-color: #C4FF33;
    border-radius: 0.7rem;
    border: 0.2rem solid #627F19; */
    transition-property: border-radius, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
nav > a > p {
    display: table-cell;
    vertical-align: middle;
}
div.profile-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
div.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#user-options {
    color: black;
}
#user-options option {
    color: black;
}
main {
    width: 90%;
    margin: auto;
}
main article {
    padding: 2% 0;
}
main article p {
    text-align: justify;
}
footer {
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #880201, #cc0605, #880201);
}
footer > p {
    color: white;
}
.contact-us {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
}
.contact-us > a {
    width: 10%;
}
.contact-us > a > img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
nav > a:hover {
    box-shadow: 0 0 10px 3px #880201 inset;
    border-top-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
