html{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body{
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
header{
  padding: 0.5%;
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  background: #ED2500;
  display: flex;
  flex-direction: row;
  font-family: 'Righteous', sans-serif;
  align-items: center;
  color: white;
  -webkit-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.59);
box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.59);
}
.title{
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}
.secion{
  text-align: center;
  align-items: center;
  align-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
input{
  font-family: 'Righteous', sans-serif;
}
.botonSecion{
  border-radius: 0.2rem;
  padding: 0.5%;
  background: #83BA13;
  border: none;
  color: white;
  font-family: 'Righteous', sans-serif;
}
.botonSecion:active{
  background: white;
  color: green;
}
.botonSecion:hover{
  background: #A7ED18;
}

section{
  width: 70%;
  height: 100%;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
footer{
  background: #A12710;
  width: 100%;
  height: 6%;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
  font-family: 'Righteous', sans-serif;
}
aside{
  width: 30%;
  height: 100%;
  -webkit-box-shadow: inset -13px -13px 21px -4px rgba(0,0,0,0.59);
-moz-box-shadow: inset -13px -13px 21px -4px rgba(0,0,0,0.59);
box-shadow: inset -13px -13px 21px -4px rgba(0,0,0,0.59);
}
.bienvenida{
  width: 100%;
  height: 80%;
  display: flex;
}
.botones{
  width: 100%;
  height: 10%;
}
.botonVer{
  margin: 0 auto;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: #B22323;
  color: white;
}
.botonVer:hover{
  background: #FF1919;
}
.botonVer:active{
  background: #E5E32D;
}