*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Code','Righteous', sans-serif;
	overflow: hidden;
}
header img{
	height: 80px;
	background-color: none;
	margin-right: auto;
}
header{
	width: 100%;
	background-color: #FB8604;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.8vw 8vw 0.8vw 8vw;
}
/* .menu1{
	text-decoration: none;
  	color: black;
  	transition: 0.3s;
	font-size: 2rem;
} */
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
}
.menu{
	font-size: 1.01rem;
	text-decoration: none;
  	color: black;
  	transition: 0.3s;
}
.menu:hover{
	color: white;
}

.Receta{
	margin-top: 1%;
	margin-bottom: 1%;
	justify-content:center;
	display:flex;
	align-content: center;
	align-items: center;
}
.Principal{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.cont-gen{
	display: flex;
	flex-direction: column;
}
section{
	width: 90%;
	margin: auto;
}
.Cambio{
	margin-bottom: 5%;
	flex-direction: row;
	display: flex;
	align-content: center;	
	background-color: #fff;
}
.papa{
	 margin-right: 10%;
     width: 0%; 
     height: 0%; 
     border-top: 0px;
     border-right: 30px solid rgba(245, 176, 65, .5);
     border-top: 15px solid #fff;
     border-bottom: 15px solid #fff; 
}
.ingredientes{
	list-style-position: inside;
}
.papa:hover{
	 margin-right: 10%;
	 width: 0%; 
     height: 0%; 
     border-top: 0px;
     border-right: 30px solid rgb(245, 176, 65);
     border-top: 15px solid #fff;
     border-bottom: 15px solid #fff;
     transform: scale(1.1);	
}
.papu{
	 margin-left: 10%;
     width: 0; 
     height: 0; 
     border-left: 30px solid rgba(245, 176, 65, .5);
     border-top: 15px solid #fff;
     border-bottom: 15px solid #fff; 
}
.papu:hover{
	 margin-left: 10%;
     width: 0; 
     height: 0; 
     border-left: 30px solid rgb(245, 176, 65);
     border-top: 15px solid #fff;
     border-bottom: 15px solid #fff; 
     transform: scale(1.1);
}
.cont-ing{
	width: 28%;
	padding: 1%;
	background: #F2F5A9;
	border-radius: 1rem;
}
.otro{
	text-align: justify;
	width: 70%;
	padding: 1%;
	background: #F2F5A9;
	border-radius: 1rem;
}

footer{
	margin-top: 2%;
	width: 100%;
	padding: 1% 5% 1% 5%;
	color: #FB8604;
	background: #343009;
	display: flex;
	flex-direction: row;
	align-items: center;
}
footer p{
	margin-right: auto;
}
footer i{
	margin: 0 10px 0 10px;
	font-size: 2rem;
}