*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: verdana, helvetica, arial, monospace;
}

/*HEADER*/
header{
    width: 100%;
    background-color: #CBCBCB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 50%;
}
nav{
    flex-grow: 0.5;
}
nav > ul {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav > ul > li{
    white-space: nowrap;
    list-style-type: none;
    border: 2px solid transparent;
    transition: border-bottom .4s;
}
nav > ul > li:hover{
    border-bottom: 2px solid white;
}
nav > ul > li:hover a{
    color: white;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    transition: color .4s;
}
.name-and-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.user-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: .25;
}
.user-options a{
    text-decoration: none;
    color: black;
}
#close-session{
    letter-spacing: 2px;
    padding: 2%;
    display: block;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    color: #232323;
    background-color: #23232333;
    transition-property: border-color, color, background-color;
    transition-duration: 1s;
}
#close-session:hover{
    border-color: white;
    background-color: transparent;
    color: white;
}
.name-and-logo > h2{
    font-size: 3rem;
    margin: 0 5%;
}
.logo{
    background-image: url("../img/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5rem;
}

/*INVENTARIO*/
main{
    width: 100%;
}
main > h2{
    font-size: 2rem;
    text-align: center;
}
.inventory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.food{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin: 1%;
    position: relative;
}
.food img{
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 200px;
    width: 100%;
    margin: auto;
}
.food > .name-food{
    font-size: 1.5rem;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
.display-none{
    display: none;
}
.actions{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DFDFDFBB;
    transition: opacity .75s;
    border-radius: 5px;
}
.actions > input{
    letter-spacing: 2px;
    padding: 2%;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #232323;
    background-color: #23232333;
    transition: box-shadow 1s;
}
.actions > input:hover{
    border:none;
    background-color: none;
    box-shadow: 0 0 15px 5px #525252 inset, 2px 2px 50px 5px #525252;
    color: #DDDDDD;
}
.food:hover > .actions{
    display: grid;
    visibility: visible;
    opacity: 1;
}
